h1{color:purple; font-family:deeppurple; background-color: lightgay;}
h2{color:lightpurple;}
p{background-color:gray; color:whitw; font-family:gray;}
table{background-color:gray; color:pinck;}
ul{color:skyblue;background-color.purple;}
ol{color:skyblue;background-color:lightpurple;}
form{background-color:skyblue; color:black; font-family:arial;} 